<?xml version="1.0" encoding="UTF-8"?>
<suite name="Bagisto Regression Suite">
    <parameter name = "browser" value = "edge"> </parameter>
    <test name="Regression Test" verbose="2" preserve-order="true">
        <classes>
            <class name="com.bagisto.tests.RegistrationTest"/>
        </classes>
    </test>
</suite>